<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HubUrl" value="http://localhost:13504/signalr"/>
    <add key="HubName" value="mybroker"/>
    <add key="ServerSideCallBack" value="heartbeat"/>
    <add key="StartNumberOfClient" value="5"/>
    <add key="MaxNumberOfClient" value="5000"/>
    <add key="StepNumberOfClients" value="10"/>
    <add key="StepTime" value="2"/>
    <add key="MessageInterval" value="10"/>
    <add key="TestDurationAsSec" value="3600"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
